:root{
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --very-dark-blue-bg: hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
  }
  body{
    margin: 0;
    font-family: 'Outfit', sans-serif;
    background-color: var(--very-dark-blue-bg);
  }
  main{
    max-width: 90em;
    min-height: 100vh;
    margin-inline: auto;
    display: grid;
    place-items: center;
  }
  .nft_card{
    width: clamp(18em, 90%, 22em);
    background-color: var(--very-dark-blue-card);
    padding: 1.6em;
    color: var(--soft-blue);
    border-radius: 1em;
    box-sizing: border-box;
    position: relative;
  }
  .nft_card > img{
    width: 100%;
    border-radius: .5em;
    cursor: pointer;
  }
  .nft_card > img:hover + .overlay{
    display: grid;
  }
  
  .overlay{
    position: absolute;
    width: calc(100% - 3.2em);
    top: 1.6em;
    border-radius: 1em;
    display: none;
    place-items: center;
    aspect-ratio: 1/1;
    z-index: 5;
    background-color: hsla(178, 100%, 50%, 0.7);
  }
  .nft_card h2{
    color: var(--White);
    font-size: 1.4rem;
    cursor: pointer;
  }
  .nft_card h2:hover, .nft_card .owner p b:hover{
    color: var(--cyan);
  }
  .nft_card > p{
    font-weight: 300;
    line-height: 160%;
    margin-top: .3em;
  }
  
  .nft_card .info{
    justify-content: space-between;
    margin-bottom: .25em;
  }
  .nft_card .info, .nft_card .info > *, .nft_card .owner{
    display: flex;
    column-gap: .4em;
    align-items: center;
  }
  .nft_card .info div .eth{
    color: var(--cyan);
  }
  .nft_card .owner {
    border-top: 1px solid var(--very-dark-blue-line);
    column-gap: 1em;
    padding-top: .5em;
  }
  .nft_card .owner img{
    width: 2em;
    border: 1px solid var(--White);
    border-radius: 50%;
  }
  .nft_card .owner p{
    font-size: .9em;
  }
  .nft_card .owner p b{
    color: var(--White);
    cursor: pointer;
  }
  